*{
    margin:0px;
    padding:0px;
    border:0px solid black;
}
.Input {
    display: flex;
    flex-direction: column;
     margin:1em 5em 0px 5em;
      width:50em;
      
}


.BaseInputReverse {
    margin-top:1em;
    flex-direction: row-reverse;
    align-content: flex-start;
}
#sendemail{
    margin:15px;
    border-color:rosybrown;
}

.BaseInputReverse label {
    flex: 1;
    padding-left: 10px;
}

.Input input {
    display: flex;
    padding:15px;
    margin-bottom: 0.75rem;
    color:rosybrown;
    font-weight: bold;
    font-size:20px;
   
    border: 2px solid palevioletred;
    transition: 220ms all;
    outline: 2px solid transparent;

}

.Input input:focus {
    outline: 6px solid rosybrown;
}

.Input label {
    display: flex;
    color:rosybrown;
    font-size: 2rem;
    font-style: inherit;
    font-family: Monaco, monospace;
    cursor: pointer;
}